<template>
  <div class="body_cl">
    <img
      class="close_icons clickable"
      id="info-small-screen-close-id"
      src="../resources/close_icon.svg"
      alt=""
    />
    <div class="info_main_center">
      <div class="mobile_info_div"></div>
      <div id="info_text_div">
        <p class="info_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          efficitur nisl in est facilisis vulputate. Sed gravida ante quis nunc
          vestibulum, vel vehicula nisi vulputate. Donec nec nulla in lectus
          fermentum egestas non a ex. Duis id ullamcorper urna, a imperdiet
          ipsum. Nam at nisl in massa convallis rhoncus mattis at ligula. Etiam
          vel quam ut neque aliquet volutpat.
        </p>
        <img
          id="info-big-screen-close-id"
          class="close_icons clickable"
          src="../resources/close_icon.svg"
          alt=""
        />
      </div>
      <div id="info_icons_div">
        <img
          class="info_icons clickable"
          src="../resources/youtube_icon.svg"
          alt=""
        />
        <img
          class="info_icons clickable"
          src="../resources/apple_icon.svg"
          alt=""
        />
        <img
          class="info_icons clickable"
          src="../resources/sp_icon.svg"
          alt=""
        />
      </div>
      <div class="mobile_info_div"></div>
    </div>
  </div>
</template>
