<template>
  <div class="body_cl">
    <!-- <link rel="stylesheet" href="style/style.css" /> -->
    <div class="main_title" id="desktop_menu">
      <div>
        <div class="button_title_cl">
          <p class="title_font_lg">ICONS BY</p>
          <div class="button_icon clickable info_icon_cl" id="main_info_icon">INFO</div>
        </div>
        <div class="button_title_cl">
          <p class="title_font_lg">ELI KESZLER &</p>
        </div>
        <div class="button_title_cl" id="title_line3">
          <div class="button_icon clickable listen_icon_cl" id="main_listen_icon">LISTEN</div>
          <p class="title_font_lg">DRAZEN</p>
        </div>
      </div>
    </div>
    <div class="main_title" id="mobile_menu">
      <div>
        <div class="button_title_cl">
          <p class="title_font_lg">ICONS BY</p>
        </div>
        <div class="button_title_cl">
          <div class="button_icon clickable info_icon_cl" id="main_info_icon_mb">INFO</div>
          <p class="title_font_lg" id="title_mo_line2">ELI</p>
        </div>
        <div class="button_title_cl">
          <p class="title_font_lg" id="title_mo_line3">KESZLER</p>
        </div>
        <div class="button_title_cl">
          <p class="title_font_lg">&</p>
          <div class="button_icon clickable listen_icon_cl"" id="main_listen_icon_mb">
            LISTEN
          </div>
        </div>
        <div class="button_title_cl">
          <p class="title_font_lg" id="title_mo_line5">DRAZEN</p>
        </div>
      </div>
    </div>
  </div>
  <script></script>
</template>
<style>
  .content {
    background: black;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .box {
    /*width: 200px;*/
    height: 200px;
    background: darkcyan;
  }
</style>
